<?xml version='1.0' encoding='utf-8'?>
<widget id="com.breadsplit.cordova" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>BreadSplit</name>
  <description>
    TODO:desc
  </description>
  <author email="breadsplit@gmail.com" href="http://breadsplit.netlify.com">
    The BreadSplit Team
  </author>
  <icon src="www/icon.png" />
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <!--Plugins-->
  <plugin name="cordova-plugin-whitelist" spec="1" />

  <!--Firebase-->
  <universal-links>
    <host name="breadsplit.page.link" scheme="https" />
    <host name="breadsplit.firebaseapp.com" scheme="https">
      <path url="/__/auth/callback"/>
    </host>
    <host name="breadsplitdev.page.link" scheme="https" />
    <host name="breadsplit-dev.firebaseapp.com" scheme="https">
      <path url="/__/auth/callback"/>
    </host>
  </universal-links>

  <!--Android-->
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <preference name="android-minSdkVersion" value="19" />

  <!--iOS-->
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>

</widget>
