.v-chip-group
  .v-chip:not(.v-chip--active)
    opacity: 0.5

  .v-chip--clickable:active
    box-shadow: none

.v-dialog--fullscreen > .v-card
  border-radius: 0

.v-app-bar.v-app-bar--fixed
  z-index: 4

.v-expansion-panels.flat .v-expansion-panel
  background-color: transparent

.v-slide-group__next, .v-slide-group__prev
  min-width: 0
