:root {
  --default-font: Roboto, "Helvetica Neue", Verdana, Arial, sans-serif !important;
  --app-font: var(--default-font);
}

$body-font-family = var(--app-font);

@require './global.styl'
@require './utils.styl'
@require '~vuetify/src/stylus/app.styl'
