:root {
  --default-font: Roboto, "Helvetica Neue", Verdana, Arial, sans-serif !important;
  --app-font: var(--default-font);
}

$body-font-family = var(--app-font);

@require './global.styl'
@require './utils.styl'
@require '~vuetify/src/stylus/app.styl'

@keyframes syncing-icon
  from
    opacity 0.9
  50%
    opacity 0.3
  to
    opacity 0.9

.syncing-icon
  animation syncing-icon 2s infinite

.flat
  .v-input__slot
    border none !important
    &:before, &:after
      border none !important
