body, html, #app
  height 100%
  overflow hidden !important

.scroll-page
  height calc(100% - 64px)
  overflow auto
  padding-bottom 60px


.scroll-page::-webkit-scrollbar
  width 5px

.scroll-page::-webkit-scrollbar-track
  background rgba(0,0,0,0.05)

.scroll-page::-webkit-scrollbar-thumb
  background rgba(0,0,0,0.1)

