.vertical-aligned > *
  vertical-align middle
  display inline-block

.op-50
  opacity 0.5

.layout-relative
  position relative

.height-100
  height 100%

  &.v-window
    .v-window__container
      height 100%
    .v-window-item
      height 100%
