service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{groupId} {
      allow get, list: if resource == null || request.auth.uid in resource.data.viewers;
    }
  }
}