service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{groupId} {
      allow get, list: if resource == null || request.auth.uid in resource.data.viewers;
    }
    match /users/{uid} {
      allow write: if request.auth.uid == uid;
      allow read: if true;
    }
    match /messaging_tokens/{uid} {
      allow write, read: if request.auth.uid == uid;
    }
    match /feedbacks/{uid} {
      allow create: if request.auth.uid != null;
    }
  }
}
